<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../css/site.css">
    </head>
    <body>
    {{>menu}}
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    {{#properties}}
                        <label>{{name}}:</label>
                        <input class="form-control" type="text" value="{{value}}" />
                    {{/properties}}
                </div>
            </form>
        </div>
    </body>
</html>