<html>
<head>
    <title>{{title}}</title>
    <script>        
        function apagar(id) {
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", "../api/{{title}}/" + id, true);
            xhr.onreadystatechange = function () {
                if(xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(this.responseText)
                    if(response.success) 
                        window.location.reload();
                }
            }
            xhr.send(); 
        }
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/site.css">
</head>
<body>
    <table class="table table-striped">
        <tr>
            {{#columns}}
            <th>{{name}}</th>
            {{/columns}}
        </tr>
        {{#rows}}
        <tr>
            {{#properties}}
            <td>
                {{value}}
            </td>
            {{/properties}} 
            {{#actions}}
            <td>
                {{#link}}
                    <a href="{{link}}" title="{{tooltip}}" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
                        {{label}}
                        {{#image}}
                            <img src="{{src}}" alt="{{alt}}" />
                        {{/image}}
                    </a>
                {{/link}}
                
            </td>
            {{/actions}}
        </tr>
        {{/rows}}
    </table>
    <input class="btn btn-primary" type="button" value="Inserir" onclick="javascript:window.location.replace('./{{title}}/Inserir')" />
</body>

</html>