<nav class="navbar navbar-default navbar-fixed-top">
    <a href="localhost:{{port}}">Home</a>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            {{#models}}
                <li><a href="{{href}}">{{name}}</a></li>
            {{/models}}
        </ul>
    </div>
</nav>