module.exports = {
    "title": {{title}},
    "description": {{description}},
    "type": {{type}},
  
    "properties": {{{properties}}},
  
    "required": [{{required}}],
  
    "references": {{{references}}}
}