var express = require('express');
var bodyParser = require('body-parser');
var routes = require('./Controllers/api');
var app = express();


app.use("/api", routes);
app.use("/","./Controllers/frontoffice.js");
app.use("/backoffice","./Controllers/backoffice.js");

var server = app.listen({{port}}, function () {

    console.log("Example app listening at port {{port}}");
});